@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap');

body {
    box-sizing: border-box;
    padding: 55px 165px;
    font-family: 'Barlow', sans-serif;
}

/* Header start */

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 83px;
}

.header__btn {
    padding: 16px 27px;
    color: #162542;
    text-decoration: none;
    background-color: #F2F2F2;
    border-radius: 1rem;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

/* Header end */

/* Typemaster start */

.typemaster {
    display: flex;
    align-items: center;
}

.typemaster__img {
    width: 540px;
    height: 480px;
    border-radius: 1rem;
}

.typemaster__wrapper {
    width: 45%;
    margin-right: 125px;
}

.typemaster h1 {
    color: #162542;
    font-weight: 900;
    font-size: 56px;
    line-height: 56px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.typemaster__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #7B8BAD;
    margin-bottom: 40px;
}

.typemaster__bottom {
    display: flex;
    align-items: center;
}

.typemaster__btn {
    padding: 16px 27px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #F16718;
    text-decoration: none;
    border-radius: 1rem;
    margin-right: 40px;
}

.typemaster__release {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #7B8BAD;
}

/* Typemaster end */

